.mainTitle {
    text-align: Center;
    font-size: 48px;
}

.notesSection {
    position: absolute;
    display: flex;
    width: 960px;
    margin: 50px 0 0 15%;
    padding: auto;
}

.note {
    width: 200px;
    height: 200px;
    background-color: gray;
    margin: 40px 0 0 40px;
}

#firstNote {
    margin: 40px 0 0 0;
}

.addNoteButton {
    width: 28px;
    height: 28px;
    border-radius: 40px;
    margin: 40px 0 0 20px;
    padding: 5px;
}